HospiEnCasa.App/HospiEnCasa.App.Dominio/obj/Debug/net5.0/HospiEnCasa.App.Dominio.assets.cache
HospiEnCasa.App/HospiEnCasa.App.Persistencia/obj/Debug/net5.0/HospiEnCasa.App.Persistencia.assets.cache
HospiEnCasa.App/HospiEnCasa.App.Persistencia/obj/Debug/net5.0/HospiEnCasa.App.Persistencia.csproj.AssemblyReference.cache
